.env
.testingLite
.testingLite/
testingLite/assumptions.go
testingLite/codeProcessor.go
testingLite/codeProcessor_test.go
testingLite/fileProcessor.go
testingLite/gradePrinting.go
testingLite/languageExtractor.go
testingLite/model.go
testingLite/presets.go
testingLite/testCompaison_test.go
testingLite/testComparison.go
testingLite/testConstructor.go
testingLite/testConstructor_test.go
testingLite/testingLite_test.go
